.wiki-wrapper {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 2fr 6fr;
    gap: $grid-gutter-width;
  }
}
.sidebar {
  grid-area: sidebar;
  @extend .bg-nnt-purple-dark;
  @include media-breakpoint-up(lg) {
    position: sticky;
    // top: 5rem;
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: 100vh;
    // Prevent focus styles to be cut off:
    padding: 1rem;
    margin-left: -1rem;
    overflow-y: auto;
  }

  @include media-breakpoint-down(lg) {
    .offcanvas-lg {
      border-right-color: var(--bs-border-color);
      box-shadow: $box-shadow-lg;
    }
  }
  ul.sidebar-navigation, ul.sidebar-navigation ul {
    list-style-type: none;
    line-height: 2;
  }
}
.main {
  @include media-breakpoint-up(lg){
    display: grid;
    grid-area: main;
    grid-template-areas: "content toc";
    grid-template-columns: 7fr 3fr; 
    gap: $grid-gutter-width;
  }
}

.table-of-contents {
  grid-area: toc; 
  align-self: start; // Necessary for position:sticky with display:grid
}