      <aside class="sidebar">
        <div class="offcanvas-lg offcanvas-start bg-nnt-purple" tabindex="-1" id="wiki-sidebar" aria-labelledby="vn-title">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="vn-title">NNT Wiki</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-flex flex-column">
            <p>Navigation will go here</p>
          </div>
        </div>
      </aside>