{% assign this_item = include.item %}
{% include variables/get-item-link.html item=this_item %}
{% if i_link %}<a href="{{ i_link }}" class="sidebar-link {% if active %}active{% endif %}">{% endif %} 
  {% if this_item.icon %}
    <i class="fa fa-fw {{ this_item.icon }}" {% if this_item.icon_colour %}style="color: {{ this_item.icon_colour }}"{% endif %}></i> 
  {% endif %}
  <span>{{ this_item.title }}</span>
{% if i_link %}</a>{% endif %}
{% if this_item.external == true and i_link %}<a href="{{ i_link }}" target="_blank"><i class="fa fa-fw fa-arrow-up-right-from-square fa-sm"></i></a>{% endif %}